325 Final Project: Nathaniel Gilbert, Emile Rebillard, Thomas Sorensen, Angelina Ponce

In [1]:
import pandas as pd

Introduction

We are data analysts employeed by the NCAA. We were given the assigment to study the given dataset to find any noticeable trends that should be researched further. We are going to focus on the Academic Progress Rate (APR), which is a calculation based off how many athletes on a team remain academiclly elligible and with the university. Most of the data within the NCAA dataset is not gathered by the NCAA. In fact, almost all of it is gathered by the member schools, and then shared with the NCAA. However, some of this data has been directly gathered by the NCAA.

In [4]:
raw_data = pd.read_csv('C:/Users/natha/OneDrive/Documents/GitHub/DIDA_325_Final-project/csvs/raw data.csv')
drops=[0,12,20,85]
raw_data.drop(raw_data.columns[drops], axis=1, inplace=True)
# These columns were dropped because they were entirely empty.

cols_to_fill = list(range(82, 97)) # the columns we want to fill are the 83rd to 98th columns (0-indexed) so we are creating a list of their indices using the range function. 
raw_data.iloc[:, cols_to_fill] = raw_data.iloc[:, cols_to_fill].fillna(0)
# These columns were filled with 0s because some were empty but the documnetation said they should be 0s.

In [13]:
# Next we will see what columns are still empty.
# We will do this by using the isnull() method to check for null values and then summing them up with the sum() method.

null_counts = raw_data.isnull().sum()
null_counts = null_counts[null_counts > 0]
pd.set_option('display.max_columns', None)  #These two rows are used to set the display options for pandas so that all columns and rows are shown when printing the DataFrame.
pd.set_option('display.max_rows', None)

print(null_counts.sort_values(ascending=False))

D1_FB_CONF_19                     1578
ELIG_RATE_2004                     900
APR_RATE_2004_1000                 900
NUM_OF_ATHLETES_2004               900
RET_RATE_2004                      900
ELIG_RATE_2005                     867
APR_RATE_2005_1000                 867
RET_RATE_2005                      867
NUM_OF_ATHLETES_2005               867
APR_RATE_2006_1000                 711
ELIG_RATE_2006                     711
RET_RATE_2006                      711
NUM_OF_ATHLETES_2006               711
APR_RATE_2007_1000                 644
ELIG_RATE_2007                     644
RET_RATE_2007                      644
NUM_OF_ATHLETES_2007               644
APR_RATE_2008_1000                 576
ELIG_RATE_2008                     576
RET_RATE_2008                      576
NUM_OF_ATHLETES_2008               576
APR_RATE_2009_1000                 470
ELIG_RATE_2009                     470
RET_RATE_2009                      470
NUM_OF_ATHLETES_2009               470
APR_RATE_2010_1000                 417
ELIG_RATE_2010                     417
RET_RATE_2010                      417
NUM_OF_ATHLETES_2010               417
APR_RATE_2011_1000                 404
ELIG_RATE_2011                     404
RET_RATE_2011                      404
NUM_OF_ATHLETES_2011               404
APR_RATE_2012_1000                 369
ELIG_RATE_2012                     369
RET_RATE_2012                      369
NUM_OF_ATHLETES_2012               369
APR_RATE_2013_1000                 348
ELIG_RATE_2013                     348
RET_RATE_2013                      348
NUM_OF_ATHLETES_2013               348
APR_RATE_2014_1000                 253
ELIG_RATE_2014                     253
RET_RATE_2014                      253
NUM_OF_ATHLETES_2014               253
APR_RATE_2015_1000                 238
ELIG_RATE_2015                     238
RET_RATE_2015                      238
NUM_OF_ATHLETES_2015               238
APR_RATE_2016_1000                 194
ELIG_RATE_2016                     194
RET_RATE_2016                      194
NUM_OF_ATHLETES_2016               194
APR_RATE_2017_1000                 159
ELIG_RATE_2017                     159
RET_RATE_2017                      159
NUM_OF_ATHLETES_2017               159
APR_RATE_2018_1000                 129
ELIG_RATE_2018                     129
RET_RATE_2018                      129
NUM_OF_ATHLETES_2018               129
APR_RATE_2019_1000                  84
ELIG_RATE_2019                      84
RET_RATE_2019                       84
NUM_OF_ATHLETES_2019                84
MULTIYR_RET_RATE                    15
MULTIYR_ELIG_RATE                   15
MULTIYR_APR_RATE_1000_CI            15
MULTIYR_APR_RATE_1000_RAW           15
MULTIYR_SQUAD_SIZE                  15
MULTIYR_APR_RATE_1000_OFFICIAL      15
dtype: int64

In [ ]:
#D1_FB_CONF_19 has a lot of null values, and is slightly redundant with CONFNAME_19 so we will drop it.
raw_data.drop(columns=['D1_FB_CONF_19'], inplace=True)
# Additionmally, any row with null values in the MULTIYR stats are useless to us so we will drop them as well.
raw_data.dropna(subset=['MULTIYR_RET_RATE', 'MULTIYR_APR_RATE_1000_RAW', 'MULTIYR_APR_RATE_1000_CI', 'MULTIYR_APR_RATE_1000_OFFICIAL', 'MULTIYR_SQUAD_SIZE', 'MULTIYR_ELIG_RATE'], inplace=True)
# we use the subset paramter to specify which columns we want to check for null values and drop the rows with null values in those columns. https://www.w3schools.com/python/pandas/ref_df_dropna.asp

The columns remaining are SCL_UNITID (int) which is the id for each column, SCL_NAME (character), the name for the university, Sport_Code (Cateogry) and Sport_Name (chategory) which represent the id and name of the respective sport, Academic_Year(category) the year for that row, SCL_DIV_19 (Category), and SCL_SUB_19 (Category) which represent the NCAA division and subdivision they play in. D1_FB_CONF (character) and CONFNAME (character) which are the schools football and regular conference respectivley. SL_HBCU (category) and SL_Private (category) which is a binary data that shows if a school is HBCU and if a school is private. Then there are MULTIYR_APR_RATE_1000_RAW, MULTIYR_APR_RATE_1000_CI, MULTIYR_APR_RATE_1000_OFFICIAL, RAW_OR_CI, MULTIYR_SQUAD_SIZE, MULTIYR_ELIG_RATE,MULTIYR_RET_RATE which are all numeric and represent multiyear academic stats. Then from each year from 2006-2019 there are APR_RATE_XXXX_1000	ELIG_RATE_XXXX	RET_RATE_XXX	NUM_OF_ATHLETES_XXXX which are all numeric and represent single year academic stats. Finally from 2006-2020 there are PUB_AWARD_XX which are categorical values that display if a school got an academic award from the NCAA.

Next, using the cleaned dataset we will be looking at four different research questions and attempting to answer them by analyzing the dataset.

1. How have the retention rates for NCAA schools changed over the available data, from 2004 to 2019? We will be using all of the RET_Rate_XXXX columns where XXXX represents a different year for each column
2. Exploratory analysis: How many sports are fielded by each institution, and does that vary between NCAA divisions?  We will be using the SCL_UNITID and SCL_NAME columns as well as the Sport_Code and Sport_Name to analyse the counts of sports by each university. This is important to see if schools generally field the same number of sports or if there's drastic differences between schools and analyze what could be different from schools with a high number of sports and those with a low number.
3. What variables are the most positively correlated with multi-year APR, and can we accurately predict what a teams multi-year APR will be given other data? (regression). This will involve using linear regression on the whole dataset to determine which variables are significant.
4. Do Private or Public schools have better APR and academic eligibility rates? We will be using the multi-year APR and multi-year academic eligibility columns and SCL_PRIVATE column.